@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Nunito:wght@300;400;600&display=swap');

body {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    background-color: #fdf6ec; 
    color: #fffbfb; 
}

main > section {
  margin-bottom: 10px;
}

header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #1a4672;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 24px;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-logged {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.logout-button {
    background: #2c70b4;
    border: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    transition: color 0.2s;
}

.logout-button:hover {
    color: white;
    background-color: #d9534f;
    transform: scale(1.05);
}

#hero {
    background-color: #f2f2f2;
    min-height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: #2c3e50;
    ;
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
  }

  .search-header {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  .search-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .search-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }
  
  .filters {
    display: flex;
    gap: 20px;
  }
  
  .filtro-puesto, .filtro-apto{
    display: flex;
    flex-direction: column;
  }
  
  .filtro-puesto select, .filtro-apto select {
    padding: 5px;
  }

  .hero-button>button{
    background-color:#2c70b4
  }
  .hero-button>button:hover{
    background-color:#1a4672;
    transform: scale(1.05);
  }

.candidatos-section, .evaluacion-section{
    padding: 20px;
    justify-items: end;
}

button, .search-buttons > button {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: #6986a3; 
    border-radius: 25px;
    font-size: medium;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    margin: 10px;
}

button:hover, .search-buttons > button:hover {
    background-color: #1a4672;
    transform: scale(1.05);
}





.select-puesto, .select-apto{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: #333;
    height: 42px; 
    box-sizing: border-box;
}

button:active {
    transform: scale(0.95);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

th, td {
    border: white;
    padding: 12px 8px;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
}

th {
    background-color: rgba(211, 220, 238, 0.9); 
    color: #2c3e50;
    font-size: 14px; 
    font-weight: bold;
    height: 60px;
}


th:first-child {
    border-top-left-radius: 15px;
}

th:last-child {
    border-top-right-radius: 15px;
}

td {
    background-color: #fff;
    font-size: 16px;
    color: #2c3e50;
}

.apto {
    background-color: #03b1a1;
    color: white;
}

.no-apto {
    background-color: #d62828;
    color: white;
}


.vista-btn.active {
    background-color: #2c70b4;
    color: white;
    transform: scale(0.95);
}
  
  .left-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


  .left-column input{
    margin: 0px;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
  }
  
  .right-column textarea {
    height: 100%;
    min-height: 170px;
    font-family: poppins;
  }
  
  .skills-container, .selected-skills-container {
    width: 45%;
    padding: 10px;
    border-radius: 5px;
  }
  

  .selected-skills-container, .skills-container {
    border: 1px dashed #999;
    min-height: 120px;
    width: 45%;
    padding: 10px;
    border-radius: 5px;
  }
  
  .skill-tag, .selected-skill-tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    background: #eee;
    cursor: pointer;
  }
  
  .selected-skill-tag {
    background: #cce5ff;
  }
  

.popup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .right-column textarea {
    height: 100%;
    min-height: 170px;
  }

  .custom-select, .left-column.input {
    width: 100%;
  padding: 10px 12px;
  padding-right: 40px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #333;
  height: 42px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23666" class="bi bi-chevron-down" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/> </svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  cursor: pointer;
  }
  
  
  .custom-title {
    font-size: 24px;
    color: #333;
    font-weight: 600;
  }
  
  .custom-popup {
    border-radius: 10px;
    padding: 30px;
  }
  
  .custom-confirm-button {
    background-color: #2c70b4 !important; 
    color: white !important;
    border-radius: 5px !important;
    padding: 8px 20px !important;
    font-weight: bold;
  }
  
  .custom-cancel-button {
    background-color: #6c757d !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 8px 20px !important;
    font-weight: bold;
  }

  .skill-tag:hover, .selected-skill-tag:hover {
    background-color: #d1eaff;
    transition: 0.3s;
  }

  .fade-in {
    animation: fadeInScale 0.4s ease forwards;
  }
  
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .popup select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    color: #333;
    height: 42px;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }


  .search-header h2{
    color: #2c3e50;
  }
  .filtro-puesto{
    color: #2c3e50;
  }

  .filtro-apto{
    color: #2c3e50;
  }